body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1{
    font-size: 2.5rem;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.text-center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

h2{
    font-size: 1.75rem;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    line-height: 1.25;
}

h3{
    font-size: 1.4rem;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    line-height: 1.4;
}

h4{
    font-size: 1rem;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

.gold{
    color: gold;
}

.mb-l{
    margin-bottom: 1rem;
}

.gradient-gold{
    background: linear-gradient(
            135deg,
            #fffbe5,
            #ffe066 25%,
            #ffd700 50%,
            #ffc300 75%,
            #b6862c
    );
}

.red{
    color: red;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}