<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>
<h1>Profile</h1>
<div class="searchContainer">
    <div class="searchResults">

    </div>
</div>
<div class="outerContainer">

    <div class="about content">
<!--        <h2></h2>-->
        <h3>Occupation</h3>
<!--        <p>/p>-->
        <h3>Bio</h3>
<!--        <p></p>-->
        
    </div>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>