<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<strong>That page don't exist!</strong>
<%- include('./partials/footer.ejs') %>
</body>
</html>