<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
<h1>Profile</h1>
<div class="searchContainer">
<!--    ${searchBar()}-->
    <div class="searchResults">
<!--        ${displaySearchResults()}-->
<!--        ${displayTeamResults()}-->
    </div>
</div>
<div class="outerContainer">
    <div class="profileContainer">
        <strong>Hello --USER ---!</strong>
        <div class="profilePic">
            <img src="">
            <br>
            <strong>USERNAME</strong>
        </div>

        <div class="profileUserInfo">
            <div class="profileUsername">
            </div>
            <div class="profileUserImages">
                <strong>User Images:</strong>
                <div></div>
            </div>
            <div class="profileAge">
                <strong>Age:</strong>
                <span></span>
            </div>
            <div class="friends">
                <h3>Venner</h3>
                <div class="friend"></div>
            </div>
            <div class="profileGender">
                <strong>Gender:</strong>
                <div>${selectedUser.gender}</div>
            </div>
            <div class="profileOccupation">
                <strong>Occupation:</strong>
                <div></div>
            </div>
            <div class="profileInterests">
                <strong>Interests:</strong>
            </div>
        </div>
    </div>
</div>
${createNavButtons()}
</body>
</html>