<nav>
    <div class="title">
        <h1><%= title %></h1>
        <% if (typeof info !== 'undefined') { %>
        <p><%= info %></p>
        <% } %>
    </div>
    <ul>
        <li><a href="/login"><img src="/login.svg"></a></li>
        <li><a href="/"><img src="/home.svg"></a></li>
        <li><a href="/about"><img src="/person.svg"></a></li>
        <li><a href="/blogs/new"><img src="/note.svg"></a></li>
    </ul>
</nav>